*.application
*.bin
*.d
*.dfu
*.dll
*.elf
*.exe
*.hex
*.lst
*.manifest
*.o
*.obj
*.pdb
*.px4
*.pyc
*.suo
*.tlog
*.tlog.raw
*.uvguix.*
*.uvoptx
*.vbrain
*.vrx
*.zip
*~
.*.swo
.*.swp
.DS_Store
.built
.context
.cproject
.cproject
.depend
.directory
.metadata/
.project
.settings/
.vagrant
/osd-tool
/tmp/*
Listings/*
Objects/*
Thumbs.db
tool/osdconfig/CTToolUpdater/obj/*
tool/osdconfig/bin/Debug/*
tool/osdconfig/bin/Release/*
tool/osdconfig/obj/*
